.adding-button {
    position: absolute;
    top: 25px;
    right: 10px;
}

.table-bordered thead, tfoot {
    background-color: #afd9ee;
}

.dataTables_filter {
    display: none;
}

.d-none {
    display: none;
}