body {
    background-color: gainsboro;
}

div.wrapper {
    width: 1300px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -650px;
}
div.content_wrapper {
    width: 1100px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -350px;
}
div.filters_wrapper {
    width: 200px;
    display: block;
    position: relative;
    left: 50%;
}

div.content {
    background-color: white;
    padding: 25px;
}

div.header {
    height: 65px;
    line-height: 57px;
    background-color: #2ab27b;
    color: white;
}
div.header span.rate{
    font-size: 17px;
}
div.header a.change_rate{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
div.left_menu {
    background-color: silver;
    height: 40px;
    line-height: 40px;
}
div.left_menu a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
span.logo {
    font-size: 35px;
}
span.navigation {
    font-size: 24px;
    margin-right: 25px;
}

textarea#description {
    height: 109px;
}
div#products_list {
    height: 530px;
    overflow: auto;
}
div.content {
    min-height: 630px;
}
table.products-table {
    font-size: 13px;
}

table.products-table>thead>tr {
    background-color: gainsboro;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
table.products-table>tbody>tr>td {
    padding: 0 6px;
    vertical-align: middle;
}
table.products-table>tbody>tr>td.parent {
    background-color: #2ab27b;
}
div.search_button {
    padding: 0;
}
div.filters {
    margin-right: 0;
}

